body {
    margin: 0;
    font-family: sans-serif, San Francisco  ;
    background: black;
    text-align: center;
}

.offer-banner {
    background-color: #1d1d1f;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 60px; 
    font-size: 14px;
}

.hero{
    padding-bottom: 40px;
    padding-top: 80px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.hero h1 {
    font-size: 70px;
    margin: 0;
    margin-bottom:10px;
    font-weight: 700;
    color : white;
}

.hero p {
font-size: 30px;
color: aliceblue;
margin-bottom: 20px; 
}

.CTA{
    background-color: rgb(6, 105, 243);
    color: white;
    font-size: 16px;
    margin-top: 8px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 8px 20px;
    white-space: nowrap;

}
.CTA:hover{
    background-color:  rgb(20, 115, 247);
}
.cta{
    background-color: black;
    color:  rgb(17, 111, 243);
    font-size: 16px;
    margin-top:8px;
margin-left : 10px;
gap:15px;
border-color: rgb(17, 111, 243);
    border-style: solid;
white-space: nowrap;
border-radius: 26px;
border-width: 1px;
cursor: pointer;
padding :8px 18px;
transition: background-color 0.3s, color 0.3s, border-color 0.3s ;
 box-shadow:0 0 0 1px rgb(17, 111, 243) inset
}

 .cta:hover{
    background-color: rgb(17, 111, 243);
    color:white;
    box-shadow:none;
    
 }

 .btn{
    margin-bottom: 40px;
    display:flex;
    gap:15px;
 }
.link-btn {
text-decoration: none;
}
 .hero-img{
    width: 900px;
    margin-top: -60px;
    margin: 0 auto;
    display:block;
    max-width: 90%;
    object-fit: contain;
    transform: translateY(-50px) scale(1.05);
    cursor: pointer;
 }


 .top-list{
    width:100%;
    height: 40px;
    background: rgb(4, 4, 4);
    backdrop-filter: blur(20px);
    display:flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
 }
 .top-list ul{
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
    margin: 0;
    color: #d2d2d2;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
     }

      .top-list li{
        cursor: pointer;
        transition: color 0.2s ;
             }

             .top-list li:hover{
                color:white;
                
            }
            .top-list .logo{
                font-size: 18px;
                font-weight: bold;
            }
    .apple-icon {
        width: 18px;
        filter: invert(85%);
        transition: filter 0.2s;
    }
    .apple-icon:hover {
        filter: invert(100%);
    }

    .icon-logo {
    width: 18px;
    filter: invert(85%);
    transition: filter 0.2s;
}
.icon-logo:hover {
    filter: invert(100%);
}

.icon {
    width: 16px;
    cursor: pointer;
    filter: invert(85%);
    transition: filter 0.2s;
}
.icon:hover {
    filter: invert(100%);
}